<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header">
        <h1>Ayakkabı Dükkanı</h1>
       <ul id="navlist">
           <li><a href='@Url.Action("Index","Home")'>Anasayfa</a></li>
           <li><a href='@Url.Action("Index","Shop")'>Dükkan</a></li>
           @if (Request.IsAuthenticated)
           {
               <li>@Html.ActionLink("Hoşgeldiniz"+User.Identity.Name,"UserDetails","Account")</li>
               <li>@Html.ActionLink("Çıkış","Logout","Account")</li>
           }
           else
           {
               <li>@Html.ActionLink("Giriş","Login","Account")</li>
               <li>@Html.ActionLink("Kaydol","Register","Account")</li>
           }
       </ul>
    </div>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
